:root {
  --color-dark-navy: #242742;
  --color-vermellion: #ff6155;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100dvh;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* CARD */

.card-container,
.mockup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mockup-container {
  display: none;
  padding: 0 1.5rem;
  align-items: flex-start;
}

.mockup-container--show {
  display: flex;
}

/* IMAGE SECTION */

.hero-image-container-mobile {
  min-width: 100%;
}

.hero-image-container-mobile img {
  min-width: 100%;
}

.hero-image-container-desktop img {
  display: none;
}

/* CONTENT SECTION */

.content-container {
  width: 100%;
  padding: 0 1.5rem;
  color: var(--color-dark-navy);
}

.content-heading,
.mockup-heading {
  margin: 2.5rem 0 1.5rem 0;
  font-size: 2.5rem;
  font-weight: 700;
}

.mockup-heading {
  margin-top: 0;
}

.content-para,
.mockup-para {
  font-size: 1rem;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 1.5rem;
}

.mockup-para {
  margin-bottom: 16.4375rem;
}

.mockup-email {
  font-weight: 700;
}

.content-list {
  list-style: none;
  margin-bottom: 1.875rem;
}

.content-list li {
  display: flex;
  font-size: 1rem;
  line-height: 150%;
  margin-bottom: 0.625rem;
}

.content-list img {
  margin-right: 1rem;
  height: 21px;
}

.content-list span {
  margin-top: -0.3rem;
}

.form-label-container {
  display: flex;
  justify-content: space-between;
}

.form-label-container label {
  color: var(--color-dark-navy);
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 150%;
}

.form-label-span {
  display: none;
}

.form-input {
  all: unset;
  border-radius: 8px;
  border: 1px solid rgba(25, 24, 43, 0.25);
  box-sizing: border-box;
  color: var(--color-dark-navy);
  margin-top: 0.5rem;
  padding: 1rem 1.5rem;
  width: 100%;
  display: block;
}

.form-input::placeholder {
  color: var(--color-dark-navy);
}

.form-submit,
.mockup-button {
  all: unset;
  box-sizing: border-box;
  margin-top: 1.5rem;
  width: 100%;
  border-radius: 8px;
  color: white;
  background-color: var(--color-dark-navy);
  padding: 1.125rem 3rem;
  text-align: center;
}

.form-submit:active,
.mockup-button:active {
  color: white;
  background: var(
    --gradient-1,
    linear-gradient(225deg, #ff6a3a 0%, #ff527b 100%)
  );
  box-shadow: 0px 16px 32px 0px rgba(255, 97, 85, 0.5);
}

.form-submit:hover,
.mockup-button:hover {
  cursor: pointer;
}

/* ERROR HANDLING */

.form-label-span-error--mod {
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 150%;
  color: var(--color-vermellion);
  display: block;
}

.form-input-error--mod {
  border: 1px solid var(--color-vermellion);
  background-color: hsla(4, 100%, 67%, 0.15);
  color: var(--color-vermellion);
}

/* MOCKUP CONTAINER */

.mockup-image {
  margin: 9.3125rem 0 2.5rem 0;
}

@media only screen and (min-width: 800px) {
  body {
    background: var(--color-dark-navy);
    min-height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* CARD */

  .card-container {
    flex-direction: row-reverse;
    padding: 1.5rem;
    background-color: white;
    border-radius: 36px;
    box-shadow: 0px 15px 60px 0px rgba(0, 0, 0, 0.25);
  }

  /* IMAGE SECTION */

  .hero-image-container-mobile {
    display: none;
  }

  .hero-image-container-desktop img {
    display: block;
  }

  /* CONTENT SECTION */

  .content-container {
    box-sizing: content-box;
    max-width: 376px;
    margin: 0 40px;
    align-self: flex-start;
  }

  .content-heading {
    margin-top: 4.5625rem;
    font-size: 3.5rem;
  }

  .content-list {
    margin-bottom: 2.5rem;
  }

  /* MOCKUP CONTAINER */

  .mockup-container {
    background-color: white;
    height: 520px;
    width: 504px;
    border-radius: 36px;
    box-shadow: 0px 15px 60px 0px rgba(0, 0, 0, 0.25);
    padding: 0;
    padding: 3rem 4rem 4rem 4rem;
  }

  .mockup-image {
    margin: 0;
  }

  .mockup-heading {
    margin: 2.5rem 0 1.5rem 0;
    font-size: 3.5rem;
    font-weight: 700;
  }

  .mockup-para {
    margin-bottom: 2.5rem;
  }

  .mockup-button {
    margin-top: 0;
  }
}
